@model IEnumerable<XCodingGameReview.Models.Review>

@{
    ViewBag.Title = "Index";
    int x = Convert.ToInt32(TempData["GameID"]);
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <p>
        @{
            if (ViewData["id"] == null)
            {
            <p><a class="btn btn-default" href="../Games/Index/">To add a review, select a game &raquo;</a></p>
        }
        else
        {
            @Html.ActionLink("Add review for this game", "Create", new { id = ViewData["id"] });
        }
        }
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Score)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                if (item.GameID == Convert.ToInt32(ViewData["id"]) || ViewData["id"] == null)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Score)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ReviewID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ReviewID })
                        </td>
                    </tr>
                }
            }

        </table>
    </body>
</html>
